@model DS.CineLabs.Common.Models.Ticket.TicketViewModel

@using Microsoft.Extensions.Options
@inject IOptions<DS.CineLabs.Application.Payment.StripeSettings> Stripe

<html>
    <head>
        <title>CineLabs - Buy Ticket</title>
        <link rel="icon" href="https://i.imgur.com/SekUp6m.png">
        <link rel="stylesheet" type="text/css" href="~/css/ticketdetails.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            .navbar {
                font-family: 'Mochiy Pop P One', sans-serif !important;
                font-family: 'Open Sans', sans-serif !important;
                font-family: 'Open Sans Condensed', sans-serif !important;
                border-bottom: 1px solid #f1f1f1 !important;
                padding: 12px !important;
            }
        </style>
    </head>>
    <body>
        <div class="container" style="margin-top:90px; margin-bottom:70px;">
            <div class="card">
                <div class="row">
                    <aside class="col-sm-5 border-right p-0">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div><img src="https://i.pinimg.com/originals/08/c5/d6/08c5d603da892aab0e12bcbb1aacc976.jpg"></div>
                            </div>
                        </article>
                    </aside>
                    <aside class="col-sm-7">
                        <article class="card-body p-5">
                            <h3 class="title mb-3">Ticket for @Model.Ticket.Movie.Name</h3>

                            <p class="price-detail-wrap">
                                <span class="price h3 text-warning">
                                    <span class="currency">€</span><span class="num">@Model.Ticket.Price</span>
                                </span>
                            </p>
                            
                            <dl class="param param-feature">
                                <dt>Schedule</dt>
                                <dd>@Model.Ticket.Movie.Details.Schedule</dd>
                            </dl>
                            <dl class="param param-feature">
                                <dt>Premiere</dt>
                                <dd>@Model.Ticket.Movie.Details.Premiere</dd>
                            </dl>
                            <hr>
                            <form asp-action="Payment" asp-controller="Ticket" method="POST">
                                <input name="movieId" value="@Model.Ticket.Movie.Id" hidden />
                                <input name="id" value="@Model.Ticket.Id" hidden />
                                <script src="//checkout.stripe.com/v3/checkout.js" class="stripe-button" data-key="@Stripe.Value.PublishableKey" data-locale="auto" data-description="Ticket Payment">
                                </script>
                            </form>
                        </article>
                    </aside>
                </div>
            </div>
        </div>
    </body>
</html>


